/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */

body {
    font-family: 'Monserrat', sans-serif;
    color: #282828;
}

.header {
    background-color: #282828;
    color: whitesmoke;
}

.header__nav {
    display: flex;
    align-items: center;
    padding: 25px;
    gap: 10px;
}

.align-right {
    margin-left: auto;
}

.header__logo {
    font-size: 18px;
    font-weight: 700;
}

.header__icon {
    width: 30px;
    height: 22.67px;
    cursor: pointer;
}

/* MAIN */

.main__header{
    display: grid;
    place-content: center;
    background-color: #f5f5f5;
}

.hero__heading {
    font-size: 2.5em;
    font-weight: 400;
    padding: 30px 25px;
    text-align: center;
}

/* ITEMS */

.main__item {
    position: relative;
    background-color: #f5f5f5;
}

.item__image {
    display: block;
    width: 100%;
}

.item__description {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.item__text {
    font-size: 1em;
    padding: 20px 30px;
}

.item__button {
    align-self: center;
    color: white;
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #cd6858;
}

.exclusive__tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-weight: 400;
    color: whitesmoke;
    background: #cd6858;
}

/* CHATBOX */

.chatbox {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    background-color: #dda15e;
    cursor: pointer;
    box-shadow: 1px 1px 5px #999;
}